@model IEnumerable<H2017_PW_Equipe6.Models.Secteur>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Descriptions des niveaux</h2>

    @foreach(var secteur in Model) {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <a class="h3" data-toggle="collapse" href="@("#liste-niveau" + secteur.idSECTEUR)">@secteur.nomSECTEUR</a>
                </h3>
            </div>
            <div id="@("liste-niveau" + secteur.idSECTEUR)" class="panel-collapse collapse">
                <div class="panel-body">
                        @foreach (var niveau in secteur.Niveaux)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        @niveau.nomNIVEAU
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <p>@niveau.descriptionNIVEAU</p>
                                </div>
                            </div>
                        }
                </div>
            </div>

        </div>
    }
</div>
