@model H2017_PW_Equipe6.Models.Entraineur

@{
    ViewBag.Title = "Edit";
}

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">@ViewBag.Title</a>
        </div>
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Afficher", "Details", "Entraineur")</li>
            <li class="active"><a href="">Modifier</a></li>
            <li>@Html.ActionLink("Créer entraineur", "Create", "Entraineur")</li>
        </ul>
    </div>
</nav>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Entraineur</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idENT)
        @Html.HiddenFor(model => model.Utilisateur.idUTIL)

        <div class="form-group">
            @Html.LabelFor(model => model.Utilisateur.nomUTIL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Utilisateur.nomUTIL)
                @Html.ValidationMessageFor(model => model.Utilisateur.nomUTIL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Utilisateur.prenomUTIL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Utilisateur.prenomUTIL)
                @Html.ValidationMessageFor(model => model.Utilisateur.prenomUTIL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descriptionENT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descriptionENT)
                @Html.ValidationMessageFor(model => model.descriptionENT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.photoENT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.photoENT)
                @Html.ValidationMessageFor(model => model.photoENT)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Utilisateur.courrielUTIL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Utilisateur.courrielUTIL)
                @Html.ValidationMessageFor(model => model.Utilisateur.courrielUTIL)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estActifENT, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estActifENT)
                @Html.ValidationMessageFor(model => model.estActifENT)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
