@model H2017_PW_Equipe6.Models.HoraireGroupe

@{
    ViewBag.Title = "Modifier";
}

<h2>Modifier</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Horaire des groupes</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idHOR)

        <div class="form-group">
            @Html.LabelFor(model => model.idGRP, "idGRP", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idGRP", String.Empty)
                @Html.ValidationMessageFor(model => model.idGRP)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idJOUR, "idJOUR", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idJOUR", String.Empty)
                @Html.ValidationMessageFor(model => model.idJOUR)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.horaireDebut, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.horaireDebut)
                @Html.ValidationMessageFor(model => model.horaireDebut)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.horaireFin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.horaireFin)
                @Html.ValidationMessageFor(model => model.horaireFin)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "Liste")
</div>
